.adminDashboard {
  display: flex;
}

.dashboardContent {
  flex: 1;
  margin-left: 300px;
  padding: 20px;
  background-color: #f5f5f5;
}

.dashboardTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.statsContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.statCard {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.statCard h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.statCard p {
  font-size: 1rem;
  color: #777;
}

/* Specific Styles for Cards */
.totalTickets {
  border-left: 4px solid #3498db;
}

.highPriority {
  border-left: 4px solid #e74c3c;
}

.pending {
  border-left: 4px solid #f1c40f;
}

.resolved {
  border-left: 4px solid #2ecc71;
}

.mainSection {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.welcomeSection {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcomeSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.welcomeSection p {
  margin-bottom: 10px;
  color: #555555;
}

.chartsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
